{% extends 'base.html' %}
{% load extra_filters %}

{% block content %}
<div>
  {% if user.is_authenticated %}
  <h1>Welcome {{user.username}}!</h1>
  <p>Thanks for logging in.</p>

  <!-- user's badge -->
  {{user}}

  <div class="row">
    {% for badge in user.badges.all %}
    <div class="col-sm-2">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <b>{{badge.name}}</b>
                </div>
                <div class="card-text">{{badge.description}}</div>

                <img src="../{{badge.icon}}" class="card-img-top" alt="{{badge.name}}" />
                <div class="card-text">
                  Collected!
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
  </div>

  {% if user.is_superuser %}
  <p>current streak: {{user.current_streak}} days 🔥</p>
  <img src="../../static/assets/calendar-streak.png" alt="" style="width: 500px;">
  {% else %}
  <p>current streak: {{user.current_streak}} days ❄️</p>
  <img src="../../static/assets/calendar-no-streak.png" alt="" style="width: 500px;">
  {% endif %}

  {% else %}
  <div>Cool site, but you are not logged in. </div>
  <p><a href="{% url 'login' %}">Login here</a></p>
  {% endif %}
</div>
{% endblock %}
