{% extends 'base.html' %}

<!-- pushups and lateral raises should be pk=1,2 -->

{% block content %}
<div>
  <h1>start session - {{ exercise }} </h1>
  {% if exercise.pk == 1 %}
  <h4>Here the opencv camera would track reps and comment on form</h4>
  <img src="../static/assets/pushup.gif" alt="" style='width: 500px;'>
  {% elif exercise.pk == 2 %}
  <h4>Here the opencv camera would track reps and comment on form</h4>
  <img src="../static/assets/lateral-raise.gif" alt="" style='width: 500px;'>
  {% else %}
  <h4>Sorry we don't have this exercise implemented yet</h4>
  <div style='display: flex; justify-content: center; align-items: center;'>
    <img src="/static/assets/exercise.png" alt="" style="height: 800px;">
  </div>  
  {% endif %}

  <a href='/results'>Finished</a>
</div>
{% endblock %}
