{% extends 'base.html' %}

<!-- pushups and lateral raises should be pk=1,2 -->

{% block content %}
<div>
  <h1>start session</h1>
  {{ exercise }}

  {% if exercise.pk == 1 %}
  <img src="../static/assets/pushup.gif" alt="" style='width: 500px;'>
  {% elif exercise.pk == 2 %}
  <img src="../static/assets/lateral-raise.gif" alt="" style='width: 500px;'>
  {% else %}
  <h1>Sorry we don't have this exercise implemented yet</h1>
  {% endif %}

  {{ exercise }}
  <a href="/results/">Finished</a>
</div>
{% endblock %}
